<a href="https://colab.research.google.com/github/gkv856/iotbl/blob/main/python/8_Python_tips_YT_Upload.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 01Ternary operator


**bold text**

In [ ]:
# don't do this
# condition = True
# if condition:
#   x = 1
# else:
#   x= 0

# print(x)

condition = True
x = 1 if condition else 0
print(x)

1

#02 Big numbers

In [ ]:
# don't do this
# num1 = 10000000000
# num2 = 10000000

num1 = 10_000_000_000
num2 = 10_000_000

total = num1 + num2

print(total)

10010000000

#03 Context Manager

In [ ]:
# don't do this
# f = open("a.txt", "r")
# file_content = f.read()
# f.close()

# using the context manager in python will take of gracefully closing the resource
# this could anything and not just a file
# e.g. threads where you acquire and release locks
# or working with database connection etc

with open("a.txt", "r") as f:
  file_content = f.read()

words = file_content.split(" ")
word_count = len(words)
print(word_count)

1

#04 Enumerate

In [ ]:
# don't do this

# cities = ["New Delhi", "London", "NYC", "Toronto"]
# count = 0
# for city in cities:
#   print(count+1, city)
#   count += 1

cities = ["New Delhi", "London", "NYC", "Toronto"]
for item in enumerate(cities, start=1):
  print(item[0], item[1])

1 New Delhi
2 London
3 NYC
4 Toronto

#00 The Crazy one

1.   Share
2.   Like
3.   Subscribe

#05 Working with 2 list

In [ ]:
# # don't do this
# countries = ["India", "England", "Germany", "Canada"]
# capitals = ["New Delhi", "London", "Berlin", "Ottawa"]
# i = 0
# for country in countries:
#   print(i+1, country , "'s capital is called", capitals[i])
#   i += 1

# # don't do this either because its not very intutive
# countries = ["India", "England", "Germany", "Canada"]
# capitals = ["New Delhi", "London", "Berlin", "Ottawa"]
# for i, country in enumerate(countries, start=1):
#     print(i, country , "'s capital is called", capitals[i-1])

# countries = ["India", "England", "Germany", "Canada"]
# capitals = ["New Delhi", "London", "Berlin", "Ottawa"]

# for i, cc in enumerate(zip(countries, capitals), start=1):
#  print(i, cc[0] , "'s capital is called", cc[1])



# you an zip and unpack as many list as you want
countries = ["India", "England", "Germany", "Canada"]
capitals = ["New Delhi", "London", "Berlin", "Ottawa"]
foods = ["Tandoori", "Tea", "Wurst", "Burger"]
for i, cc in enumerate(zip(countries, capitals, foods), start=1):
    print(i, cc[0] , "'s capital is called", cc[1], "and they most eat", cc[2])

1 India 's capital is called New Delhi and they most eat Tandoori
2 England 's capital is called London and they most eat Tea
3 Germany 's capital is called Berlin and they most eat Wurst
4 Canada 's capital is called Ottawa and they most eat Burger

#06 Unpacking

In [ ]:
# a, b = (1, 2)

a, b, *c, d = (1, 2, 3, 4, 5)

print(a, b, d)
print(c)

1 2 5
[3, 4]

#07 getting passwords

In [ ]:
# # dont do this
# uname = input("Uname: ")
# password = input("Password: ")

from getpass import getpass
uname = input("Uname: ")
password = getpass("Password: ")
print("Welcome back", uname)

Uname: GKV
Password: ··········
Welcome back GKV

# 08 Function arguments

In [ ]:
# don't do this
def myFunction(a1, a2, a3, a4, a5, a6=123, a7=343):
  print(a1, a2, a3, a4, a5, a6, a7)

# myFunction("India", "Canada", "USA", "China", "Germany")


inputs = {
    "a1": "India",
    "a2": "China",
    "a3": "Canada",
    "a4": "USA",
    "a5": "Germany",
    "a6": "England",
    "a7": "France",
}

In [ ]:
myFunction(**inputs)

India China Canada USA Germany England France