<a href="https://colab.research.google.com/github/gkv856/iotbl/blob/main/python/FancyPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. If-Else Statement

In [7]:
age = 18
valid = "You're an adult"
inValid = "You're NOT an adult"

print(valid) if age >= 18 else print(inValid)

You're an adult

# 2. Create a list based on existing lists

```
# Concept: `[expression for item in list]`
```

In [8]:
words = ['united states', 'brazil', 'united kingdom']

capitalList = [word.title() for word in words]
print(capitalList)

['United States', 'Brazil', 'United Kingdom']

# 3. Dictionary Comprehension

```
Concept: `{key: value for key, value in iterable}`
```

In [9]:
dict_numbers = {f"key_sq_{x}":x*x for x in range(1,6) }
print(dict_numbers)

{'key_sq_1': 1, 'key_sq_2': 4, 'key_sq_3': 9, 'key_sq_4': 16, 'key_sq_5': 25}

# 4. Join Dictionaries

In [11]:
dict_1 = {'a': 1, 'b': 2}
dict_2 = {'c': 3, 'd': 4}

merger_dict = {**dict_1, **dict_2}
print(merger_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

# 5. Remove Duplicates in a List

In [12]:
numbers = [1,1,1,2,2,3,4,5,6,7,7,8,9,9,9]

list(set(numbers))

[1, 2, 3, 4, 5, 6, 7, 8, 9]